In [1]:
import numpy as np
import pandas as pd
import pickle

In [19]:
df = pd.read_csv('hiring.csv')

In [20]:
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [21]:
df['experience'].fillna(0, inplace=True)

In [22]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4,
                'five':5, 'six':6, 'seven':7, 'ten':10,
                'eleven':11, 'zero': 0, 0: 0}
    return word_dict[word]

In [23]:
df['experience'] = df['experience'].apply(convert_to_int)

In [24]:
df['test_score'].fillna(df['test_score'].mean(), inplace=True)

In [28]:
X = df.iloc[:, :3]

In [29]:
X

   experience  test_score  interview_score
0           0    8.000000                9
1           0    8.000000                6
2           5    6.000000                7
3           2   10.000000               10
4           7    9.000000                6
5           3    7.000000               10
6          10    7.857143                7
7          11    7.000000                8

In [36]:
y = df.iloc[:, -1:]

In [37]:
y

   salary
0   50000
1   45000
2   60000
3   65000
4   70000
5   62000
6   72000
7   80000

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [42]:
regressor = LogisticRegression()

In [44]:
regressor.fit(X_train, y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [46]:
pred = regressor.predict(X_test)

In [51]:
pred

array([65000, 80000], dtype=int64)

In [53]:
pickle.dump(regressor, open('model.pkl', 'wb'))

In [54]:
model = pickle.load(open('model.pkl', 'rb'))